<nav class="navbar navbar-light" style="background-color: #204379;">
  <%= link_to 'Dashboard', root_path, :class => 'anchor'%>
  <%= link_to 'Covid Zones', covid_zones_path, :class => 'anchor' %>
  <%= link_to 'Covid Centres', covid_centres_path, :class => 'anchor' %>
  <%= link_to 'Covid Hospitals', covid_hospitals_path, :class => 'anchor' %>
  <%= link_to 'My Profile', root_path, :class => 'anchor' %>
</nav>
