
<% if @current_user.user_symptoms.count != 0 %>
  <% @symptoms = [] %>
  <% userSymptoms = @current_user.user_symptoms
  userSymptoms.each do |row|
    @symptoms.push(row.symptom_id)
  end %>
  <% Symptom.all.each do |symptom|%>
    <%= check_box_tag "symptom[]", symptom.id, @symptoms.include?(symptom.id)%>
    <%= symptom.symptom %>
  <% end %>
  <p>Please select severity</p>
  <%= form_tag result_path, :method => 'get' do %>
    <input type="radio" name="severity" value="Normal">Normal</input>
    <input type="radio" name="severity" value="Intermediate">Intermediate</input>
    <input type="radio" name="severity" value="Serious">Serious</input>
    <button> Done </button>
  <% end %>
<% else%>
<p>Select Symptoms</p>
  <%= form_tag symptoms_path, :method => 'post' do  %>
    <% Symptom.all.each do |symptom|%>
      <%= check_box_tag "symptom[]", symptom.id, @symptoms.include?(symptom.id)%>
      <%= symptom.symptom %>
    <% end %>
    <button>Done</button>
  <% end %>
<% end %>
