
<div id="container">
  <div class="aside_signup">
    <!-- this div is for image  -->
  </div>
  <div class="signup">
    <h1>Sign Up</h1>
    <% if @user.errors.any? %>
      <ol>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ol>
    <% end %>
    <br>
    <%= form_for @user do |f|%>

    <%= f.label :email %>
    <br>
    <%= f.email_field :email required!%>
    <br>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
    <br>
    <%= f.label :password_confirmation %>
    <br>
    <%= f.password_field :password_confirmation%>
    <br>
    <%= f.label :suburb%>
    <br>
    <%= f.text_field :suburb%>
    <br>
    <%= f.submit "Sign up" %>
    <% end %>
  </div>
</div>
