<div id="container">
  <div class="aside">
    <% if @current_user.present? %>
      <%
        url = "https://data.nsw.gov.au/data/datastore/dump/21304414-1ff1-4243-a5d2-f52778048b29?format=json"
        response = HTTParty.get url
        result = ActiveSupport::JSON.decode(response)
        records = result["records"]
        @suburb_cases_count = 0
        records.each do |record|
          if record[5].include? @current_user.suburb
            @suburb_cases_count += 1
          end
      end %>

      <% @zone = ""
        if @suburb_cases_count < 10
           @zone = "Green"
        elsif @suburb_cases_count > 10 && @suburb_cases_count < 25
            @zone = "Amber"
        else
            @zone = "Red"
        end%>
        <p>Cases in your suburb  <span class="<%= @zone %>"><%= @suburb_cases_count %></span></p>
        <p>You are in <%= @zone %> zone</p>
        <div class="<%= @zone %>">

        </div>
    <% else %>
    <p> Please login to check your suburb status </p>
    <%= link_to 'Login', login_path, :class => "anchor_button" %>
    <% end %>
  </div>
</div>
