<!DOCTYPE html>
<html>
  <head>
    <title>POC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- FusionCharts Library -->
    <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.gammel.js"></script>
    <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.zune.js"></script>
    <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.carbon.js"></script>
    <script type="text/javascript" src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.ocean.js"></script>


  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #05104b;">
      <%= link_to 'Dashboard', root_path, :class => "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Covid Zones', covid_zones_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Covid Centres', covid_centres_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Covid Hospitals', covid_hospitals_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <%= form_tag search_path, :method => 'get', :class => 'd-flex' do  %>
    <input class="form-control me-2" type="search" name="suburb" placeholder="Enter suburb/postcode", aria-label="Search">
    <button class="btn btn-outline-success" type="submit" >Search</button>
  <% end %>
</div>
</nav>
      <%= yield %>


  </body>
</html>
