

<%= render :partial => 'home' %>

<% if @records != nil
  date_index = 0
  postcode_index = 0
  location_index = 0
  suburb_index = 0
  @fields.each_with_index do | field, index |
    case field["id"]
      when "notification_date"
        date_index = index
      when "postcode"
        postcode_index = index
      when "lhd_2010_name"
        location_index = index
      when "lga_name19"
        suburb_index = index
    end
   end %>
   <div class="center-block fix-width fix-height scroll-inner">
     <table class="table table-striped">
       <tr>
         <th>Date</th>
         <th>Postcode</th>
         <th>Location</th>
         <th>Suburb</th>
       </tr>
       <% @records.each_with_index do | record, index | %>
         <% if (record[postcode_index].include? @suburb) || (record[suburb_index].include? @suburb.capitalize()) %>
           <tr>
             <td><%= record[date_index] %></td>
             <td><%= record[postcode_index] %></td>
             <td><%= record[location_index] %></td>
             <td><%= record[suburb_index] %></td>
           </tr>
         <% end %>
       <% end %>
     </table>
   </div>

<% end %>
